// device width's
$wsm: 640px;
$wmd: 768px;
$wlg: 1024px;
$wxl: 1280px;
$wxxl: 1536px;

// font-sizes
$xs: 75rem;
$sm: .875rem;
$tiny: .875rem;
$base: 1rem;
$lg: 1.125rem;
$xl: 1.25rem;
$xxl: 1.5rem;
$xxxl: 1.875rem;
$large: 2.25rem;
$big: 3rem;
$huge: 4rem;
$mega: 5rem;

// colors
$pink: #ff00ff;
$blue: #00ffff;
$dark: #323232;
$lightgray: #D3D3D3;